<html>
	<head>
		<script type="text/javascript" src="../source/js/jquery.js"></script>
		 <script type="text/javascript" src="source/bootstrap/dist/js/bootstrap.min.js"></script>
		 <link rel="stylesheet" type="text/css" href="source/bootstrap/dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="source/DataTable/media/js/jquery.dataTables.js"></script>
		<link rel="stylesheet" type="text/css" href="source/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="source/DataTable/media/css/jquery.dataTables.css" />
		<script type="text/javascript" src="source/bootstrap/dist/js/bootstrap.js"></script>
		<script>

			$(document).ready(function() {
				$('#table').DataTable({
				});
				$('.displaymessage').hide();
				} );	
				$('.alert').hide();
			</script>


			<script>

				$('.a1').click(function(){
					var bookid=$(this).attr('id');
					$.ajax({    
						url:"/admindashboard/Book_request",
						data :{
							bookId :bookid,
						},
						success:function(data){
							if(data.deniedRequest =="Each person Have maximum 2 Book Request")
							{
								$(".alert").show();
							}
							else
							{
								id = '#'+bookid;
								var msg = '#lbl'+ bookid;
								$(id).addClass('hidden');
								$(msg).show();
							}	
						}
					});
				});
			</script>
	</head>
	<body>
		<div class="container">




			<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
					 <a class="navbar-brand" href="#">Brand</a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">

						<li  style="margin-top: 15px;">  <p style = "color:#FFF5EE">Welcome [% user  %] </p></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle  glyphicon glyphicon-cog" data-toggle="dropdown"></a>
						<ul class="dropdown-menu" role="menu">
							<li><a class = " glyphicon glyphicon-wrench" href="#">ChangePassword</a></li>
							<li class="divider"></li>
							<li><a class="glyphicon glyphicon-off" href="#">Logout</a></li>
						</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
			</nav>

			<div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Warning!</strong> Each have maximum 2 books Requested.
			</div>


			<table id="table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>SI No</th>
						<th>Book Id</th>
						<th>Book Name</th>
						<th>Book Type</th>
						<th>Book Author</th>
						<th>Book Status</th>
						<th>Request</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					[% FOREACH msg IN messages.keys %]
					<tr>
						<td>[% messages.$msg.Count %] </td>
						<td>[% messages.$msg.Id %] </td>
						<td>[% messages.$msg.Name %] </td>
						<td>[% messages.$msg.Type %] </td>
						<td>[% messages.$msg.Author %] </td>
						<td>[% messages.$msg.Status %] </td>
						<td>
							<input type="button" value="Book Request" name='txt_request' id="[%messages.$msg.Id%]" class="form-control btn-primary a1"/>
							<span id="lbl[%messages.$msg.Id%]"  class="label label-info displaymessage">Book Not Available For Issue</span>
						</td>
						<td>
							<input type="button" name='txt_review' value="Review" class="form-control btn-primary"/>
						</td>
					</tr>
					[% END %]
				</tbody>
			</table>
		</div>
		</body>
	</html>
