<html>
	<head>
		<script type="text/javascript" src="../source/js/jquery.js"></script>
		<script type="text/javascript" src="source/DataTable/media/js/jquery.dataTables.js"></script>
		<link rel="stylesheet" type="text/css" href="source/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="source/DataTable/media/css/jquery.dataTables.css" />
		<script type="text/javascript" src="source/bootstrap/dist/js/bootstrap.js"></script>
		<script>

			$(document).ready(function() {
				$('#table').DataTable({
				});
				$('.displaymessage').hide();
				} );	
			</script>


			<script>

				$('.a1').click(function(){
					var bookid=$(this).attr('id');
					$.ajax({    
						url:"/admindashboard/Book_request",
						data :{
							bookId :bookid,
						},
						success:function(data){
							if(data.deniedRequest =="Each person Have maximum 2 Book Request")
							{
								alert("Each have maximum 2 book");
							}
							else
							{
								id = '#'+bookid;
								var msg = '#lbl'+ bookid;
								$(id).addClass('hidden');
								$(msg).show();
							}	
						}
					});
				});
			</script>
	</head>
	<body>
		<div class="container">
			<h1 class="pull-left glyphicons-halflings-regular" id ="head_bar" style="font-family:Cambria">Welcome to [% head_bar %]</h1>
			<div class="dropdown">
				<span class="glyphicon glyphicon-cog pull-right btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"></span>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a class="glyphicon glyphicon-wrench" role="menuitem" tabindex="-1" href="#">ChangePassword</a></li>
					<li role="presentation"><a class="glyphicon glyphicon-off" role="menuitem" tabindex="-1" href="#">LogOut</a></li>
				</ul>
			</div>
			<table id="table" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>SI No</th>
						<th>Book Id</th>
						<th>Book Name</th>
						<th>Book Type</th>
						<th>Book Author</th>
						<th>Book Status</th>
						<th>Request</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					[% FOREACH msg IN messages.keys %]
					<tr>
						<td>[% messages.$msg.Count %] </td>
						<td>[% messages.$msg.Id %] </td>
						<td>[% messages.$msg.Name %] </td>
						<td>[% messages.$msg.Type %] </td>
						<td>[% messages.$msg.Author %] </td>
						<td>[% messages.$msg.Status %] </td>
						<td>
							<input type="button" value="Book Request" name='txt_request' id="[%msg.Id%]" class="form-control btn-primary a1"/>
							<label id="lbl[%msg.Id%]" class="displaymessage">Requested</label>
						</td>
						<td>
							<input type="button" name='txt_review' value="Review" class="form-control btn-primary"/>
						</td>
					</tr>
					[% END %]
				</tbody>
			</table>
		</div>
		</body>
	</html>
