<!DOCTYPE html>
<html>
	<head>

		<script type="text/javascript" src="../source/js/jquery.js"></script>
		<script type="text/javascript" src="../source/bootstrap/dist/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="../source/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../source/css/login.css">
		<script type="text/javascript" src="../source/jquery-validation/dist/jquery.validate.js"></script>
		<script type="text/javascript" src="../source/jquery-validation/dist/additional-methods.min.js"></script>
		<link rel="stylesheet" href="../source/jquery-validation/demo/site-demos.css">

		<script>

			function add()
			{
								var bookName = $('#bookName').val();
								var author = $('#Author').val();
								var type = $('#bookType').val();
								var noOfCopies = $('#count').val();

								alert(bookName);
								$.ajax({	
									url:"/AdminDashboard/addBook",
									data :{name : bookName,
										   author:author,
											type:type,
											count:noOfCopies
									},
									success:function(result){
							}
						});

					}			
		</script>
	</head>
	<body>


		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
			Launch demo modal
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel">Add Book</h4>
					</div>
					<div class="modal-body">
						<form role="form">
							<div class="form-group">
								<label for="exampleInputEmail1">Book Name</label>
								<input type="Name" class="form-control" id="bookName" placeholder="Name">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Book Type</label>
								<input type="text" class="form-control" id="bookType" placeholder="Type">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Author</label>
								<input type="text" class="form-control" id="Author" placeholder="Author">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">No Of Copies</label>
								<input type="number" class="form-control" id="Count" placeholder="Count">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" onclick = "add()"; >ADD</button>
								<button type="reset" class="btn btn-default">RESET</button>
								<!--	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>





