<!DOCTYPE html>
<head>
	<title>ExcelLibrary</title>
	<link "shortcut icon" href="../source/images/titleimage.ico" />
</head>

<body  class="lib-loginbody">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4" style="margin-top: 100px;">
				<div class="panel panel-default">
					<div class="panel-heading">

						<div>
							<img src="../source/images/ExcelLibraryLogo.png"  class ="lib-loginimage" >
						</div>

					</div>
					<div class="panel-body">
						<h3 class="panel-title">Activate Account</h3>
						<br>
						<form  role="form" action="/login"  id="passwordform" method = "POST" >
							<fieldset>
								<div class="form-group">
									<label>Enter Password</label>
									<br>
									<input class="form-control" placeholder="Password" id="txt_password" name="password" type="password">
								</div>
								<br/>
								<div class="form-group">
									<label >Confirm Password</label>
									<br>
									<input class="form-control" placeholder="Password" name="retype" id="txt_retype" type="password" value="">
								</div>
								<hr/>
								<input type="hidden" id="txt_token" name="Language" value="[% token %]">
								<input class="btn btn-lg btn-primary btn-block" type="submit" id="btn_login" name="btn_submit" value="Submit">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


<title>ExcelLibrary</title>
<script type="text/javascript" src="../source/js/jquery.js"></script>
<script type="text/javascript" src="../source/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../source/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../source/jquery-validation/dist/additional-methods.js"></script>
<script type="text/javascript" src="../source/js/login/createpassword.js"></script>

<link rel="stylesheet" type="text/css" href="../source/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../source/css/library.css">
<link rel="stylesheet" type="text/css" href="../source/jquery-validation/demo/site-demos.css">

</html>

