<!DOCTYPE html>
<html>

<head>
    <title>ExcelLibrary</title>
    <link rel="shortcut icon" href="../source/images/titleimage.ico" />
</head>

<body class="lib-loginbody">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top: 100px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            <img src="../source/images/ExcelLibraryLogo.png" class="lib-loginimage">
                        </div>

                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title">Enter Registered Email</h3>
                        <br>
                        <form role="form" id="passwordchangeform" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="yourmail@example.com" id="user_email" name="email" type="email">
                                </div>
                                <hr/>
                                <input class="btn btn-lg btn-primary btn-block" type="submit" id="btn_login" name="btn_submit" value="Submit">
                            </fieldset>
                        </form>
                        <hr/>
                        <label style="color:red" id="failmessage"></label>
                        <label style="color:red" id="donemessage"></label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript" src="../source/js/jquery.js"></script>
<script type="text/javascript" src="../source/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../source/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="../source/jquery-validation/dist/additional-methods.js"></script>
<script type="text/javascript" src="../source/js/login/forgotpassword.js"></script>

<link rel="stylesheet" type="text/css" href="../source/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../source/css/library.css">
<link rel="stylesheet" type="text/css" href="../source/jquery-validation/demo/site-demos.css">


</html>
