.lib-loginbody
{
	 background-image: url("../images/Librarylogin.jpg");
	 background-repeat: no-repeat;
	 background-position: center ;
	 
}
.lib-loginimage
{
	height:70px; 
	width:200px;
	margin-left:50px;
}
.lib-whitefont
{
  font-size: 12px; 
  line-height: 20px; 
  color: #fff;
 margin-top:5px;
}
.lib-topbar
{
	 margin: 0px auto;
	 background: #1f3d63;
	 height: 30px;
	 border-bottom: 3px solid #ef7f1b;
}
.lib-menubar
{
	 margin: 0px auto;
	 background: #1f3d63;
	 height: 60px;
	 border-bottom: 3px solid #ef7f1b;
}
.lib-footer
{
	 margin: 0px auto; background: #1f3d63;height: 35px; font-size: 12px;
     line-height: 20px;
	 color: #fff;
}
.lib-content
{
	min-height: 407px;
}
.lib-settings
{
	margin-top: -17px;
	color :  #fff;

}

