<!Doctype html>
<head>
	<title>Excel Library\requests</title>
</head>
<body>
	<table id="example" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>SI No</th>
				<th>Book Name</th>
				<th>Book Type</th>
				<th>Book Author</th>
				<th>Book Status</th>
				<th>Request</th>
				<th>Comment</th>
			</tr>
		</thead>

		<tfoot>
			<tr>
				<th>SI No</th>
				<th>Book Name</th>
				<th>Book Type</th>
				<th>Book Author</th>
				<th>Book Status</th>
				<th>Request</th>
				<th>Comment</th>
			</tr>
		</tfoot>

		<tbody>
			<tr>
				<td>Jena Gaines</td>
				<td>Office Manager</td>
				<td>London</td>
				<td>30</td>
				<td>2008/12/19</td>
				<td>
					<input type="button" name='btn_accept' value="Accept" class="form-control btn-primary"/>
				</td>
				<td>
					<input type="button" name='btn_reject' value="Reject" class="form-control btn-primary"/>
				</td>
			</tr>
		</tbody>
	</table>

</body>
