<!Doctype html>
<head>
	<title>ExcelLibrary</title>
</head>
<body>
	<div class = "container">
		<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Exceleron Library</a>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li  style="margin-top: 15px;">  <p ><strong>Welcome [% username  %]</strong> </p></li>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle  glyphicon glyphicon-cog" data-toggle="dropdown"></a>
					<ul class="dropdown-menu" role="menu">
						[% IF role  == 'Admin' %]
						<li role="presentation"><a class="glyphicon glyphicon-wrench" role="menuitem" tabindex="-1" href="#"> Settings</a></li>
						[% END %]
						<li><a class = " glyphicon glyphicon-pencil" href="#"> ChangePassword</a></li>
						<li class="divider"></li>
						<li><a class="glyphicon glyphicon-off" href="#"> Logout</a></li>
					</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
		</nav>
		<div class ="row">
		</div>
		<div>
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<p> </p>
				[% IF role == 'Admin' %]
				<li role="presentation" id="request"  class="menu" ><a href="#"><span class="glyphicon glyphicon-home"> Home</span></a></li>
				[% END %]

				<li role="presentation" id="book" class="menu"><a href="#"><span class="glyphicon glyphicon-book"> Book</span></a></li>
				<li role="presentation" id="history" class="menu"><a href="#"><span class="glyphicon glyphicon-list-alt"> History</span></a></li>
				[% IF role == 'Admin' %]
				<li role="presentation" id="user" class="menu"><a href="#"><span class="glyphicon glyphicon-user"> User</span></a></li>
				<li role="presentation" id="bookreturn" class="menu"><a href="#"><span class="glyphicon glyphicon-import"> Return</span></a></li>
				[% END %]
			</ul>   
			<div id = "content">
			</div>
		</div>
	</div>
</body>
<link rel="stylesheet" type="text/css" href="../source/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../source/DataTable/media/css/jquery.dataTables.css"/>
<script src="../source/DataTable/media/js/jquery.dataTables.js" type="text/javascript"></script>
<script src="../source/js/jquery.js" type="text/javascript"></script>
<script src="../source/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"> </script>
<script src="../source/bootstrap/dist/js/bootstrap.js" type="text/javascript"> </script>
<script>
	$(document).ready(function() 
	{
		var curent;
		var element;
		if($('#request').length)
		{
			$('#request').addClass("active");
			curent = '#request';
			element = '/request';
		}
		else
		{
			$('#book').addClass("active");
			curent = '#book';
			element = '/book';

		}
		loadpage(element);
		function loadpage(element)
		{
			$.ajax( 
			{ 
				url:element, 
				contentType:'text/html', 
				dataType:'html',
			}).done(function(responseText)  
			{ 
				$("#content").html(responseText); 
			}).fail(function(err)  
			{  
				alert("error" + err);  
			});
		}
		$('#details').click(function(){
			var id=$('#Book_Id').val();
		});
		$('.menu').click(function(){
			var id = $(this).attr('id');
			var path = "/"+id;
			id='#'+id;
			$(curent).removeClass("active");
			$(id).addClass("active");
			curent = id;
			loadpage(path);
        });
   });
 </script>


